* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Ruhl";
  src: url("/portfolio-fonts-folder/FrankRuhlLibre-Regular.ttf");
}

@font-face {
  font-family: "Ruhl Medium";
  src: url("/portfolio-fonts-folder/FrankRuhlLibre-Medium.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("/portfolio-fonts-folder/Lato-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1: calc(2.5rem + 1vw);
  --header2: calc(2rem + 1vw);
  --mainBackgroundColor: rgb(20, 25, 27);
  --secondaryBackgroundColor: rgb(7, 7, 14);
}

body {
  font-family: "Ruhl", sans-serif;
  animation: opening 1s ease-in-out;
  background-image: linear-gradient(
    120deg,
    var(--mainBackgroundColor),
    var(--secondaryBackgroundColor)
  );
}

h1 {
  font-size: var(--header1);
}

.flex-display {
  display: flex;
  align-items: center;
}

#home-navbar {
  height: 8vh;
  width: 90%;
  margin: auto;
}

.logo {
  justify-content: center;
}

#logo-image {
  width: 10%;
  margin: 1rem;
}

#logo-name {
  color: white;
  font-family: "Lato", sans-serif;
}
.upper-right-navbar {
  justify-content: space-between;
}

.nav-option {
  font-size: var(--header2);
  color: white;
  text-decoration: none;
}

.hero-image {
  width: 30%;
}

.s1 {
  justify-content: space-around;
}
